DirectoryIndex index.html
ErrorDocument 404 /404/

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^co-branded/[^/]+/?$ /index.html [L]
  RewriteRule ^co-branded/[^/]+/embed/?$ /index.html [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ - [R=404,L]
</IfModule>
